{% extends "base.html" %} {% block content %}
<div class="container">
  <h1>Nuevo profesor</h1>
  <form action="/new_professor" method="POST">
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">ID</label>
      <input type="text" name="id_professor" class="form-control" />
    </div>
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Nombre</label>
      <input type="text" name="nombre" class="form-control" />
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label"
        >Apellido paterno</label
      >
      <input type="text" name="apellido_paterno" class="form-control" />
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label"
        >Apellido materno</label
      >
      <input type="text" name="apellido_materno" class="form-control" />
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label"
        >Fecha de nacimiento</label
      >
      <input type="date" name="fecha_nacimiento" class="form-control" />
    </div>
    <button type="submit" class="btn btn-primary">Crear</button>
  </form>
</div>
{% endblock %}
