{% extends "base.html" %} {% block content %}
<div class="container">
  <h1>Nueva materia</h1>
  <form action="/new_course" method="POST">
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">ID</label>
      <input type="text" name="id_materia" class="form-control" />
    </div>
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Nombre</label>
      <input type="text" name="nombre" class="form-control" />
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label"
        >Créditos</label
      >
      <input type="text" name="creditos" class="form-control" />
    </div>

    <button type="submit" class="btn btn-primary">Crear</button>
  </form>
</div>
{% endblock %}
