{% extends "base.html" %} {% block content %}

<div class="container">
  <h1>Profesores</h1>
  <table class="table table-striped">
    <tr>
      <th>ID</th>
      <th>Nombre</th>
      <th>Edad</th>
    </tr>
    {% for profesor in professors_list %}
    <tr>
      <td>{{profesor.id_professor}}</td>
      <td>{{profesor.nombre_completo()}}</td>
      <td>{{profesor.calcular_edad()}}</td>
    </tr>
    {% endfor %}
  </table>
  <a href="/new_professor" type="button" class="btn btn-primary"
    >Crear profesor</a
  >
</div>
{% endblock %}
