{% extends "base.html" %} {% block content %}

<div class="container">
  <h1>Estudiantes</h1>
  <table class="table table-striped">
    <tr>
      <th>Matrícula</th>
      <th>Nombre</th>
      <th>Edad</th>
    </tr>
    {% for student in students_list %}
    <tr>
      <td>{{student.matricula}}</td>
      <td>{{student.nombre_completo()}}</td>
      <td>{{ student.calcular_edad() }}</td>
    </tr>
    {% endfor %}
  </table>
  <a href="/new_student" type="button" class="btn btn-primary"
    >Crear estudiante</a
  >
</div>
{% endblock %}
